<html>
<head>
    <% include ../../../views/templates/head %>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
       <% include ../../../views/templates/header %>
      
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <% include ../../../views/templates/Menu %>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE HEADER-->
                        <!-- BEGIN THEME PANEL -->
                      
                        <!-- END THEME PANEL -->
                        <h1 class="page-title"></h1>
                        <h2>Add Coordination Company</h2>
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <i class="icon-home"></i>
                                    <a href="index.html">Dashboard</a>
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>
                                    <span>Add Coordination Company</span> 
                                </li>
                            </ul>
        
                        </div>
        
        
                        <div class="portlet box green">
                            <div class="portlet-title">
                               
                               
                            </div>
                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form action="#" class="form-horizontal">
                                    <div class="form-body">
                                        
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Company Name
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" name="quantity" id="quantity">
                                                <span class="help-block"> Provide your Company Name. </span>
                                            </div>
                                            <label class="control-label col-md-2">
                                                Contact Person
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" name="quantity" id="quantity">
                                                <span class="help-block"> Provide  Contact Person. </span>
                                            </div>
                                        </div>                             
                                            
                                         
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Email
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" name="quantity" id="quantity">
                                                <span class="help-block"> Provide Your Email. </span>
                                            </div>
                                            <label class="control-label col-md-2">
                                                Phone
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" name="quantity" id="quantity">
                                                <span class="help-block"> Provide Your Phone. </span>
                                            </div>
                                        </div>
        
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                Street
        
                                            </label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" name="password1" id="submit_form_password1">
                                                <span class="help-block"> Provide your  Street. </span>
                                            </div>
                                            <label class="control-label col-md-2">
                                                City
        
                                            </label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" name="City1" id="submit_form_password1">
                                                <span class="help-block"> Provide your City </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">
                                                State
        
                                            </label>
                                            <div class="col-md-3">
                                                <input type="Text" class="form-control" name="State">
                                                <span class="help-block"> Provide your State </span>
                                            </div>
                                            <label class="control-label col-md-2">
                                                County
        
                                            </label>
                                            <div class="col-md-3">
                                                <input type="Text" class="form-control" name="County">
                                                <span class="help-block"> Provide your County </span>
                                            </div>
                                        </div>
        
                                        <br />
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-5 col-md-30">
                                                    <a button type="submit" class="btn btn-circle green" onclick="Create()">Create</a>
                                                    <button type="button" class="btn btn-circle grey-salsa btn-outline " data-dismiss="modal" aria-hidden="true">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
        
                        <div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                        <h4 class="modal-title">Coordination Company Details</h4>
                                    </div>
        
        
                                    <div class="portlet-body form">
                                        <!-- BEGIN FORM-->
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body">
        
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Name
                                                        <span class="required" aria-required="true"> * </span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="quantity" id="quantity">
                                                        <span class="help-block"> Provide your Name. </span>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Company Name
                                                        <span class="required" aria-required="true"> * </span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="quantity" id="quantity">
                                                        <span class="help-block"> Provide your Company Name. </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Contact Person
                                                        <span class="required" aria-required="true"> * </span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="quantity" id="quantity">
                                                        <span class="help-block"> Provide your Contact Person </span>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Cost
                                                        <span class="required" aria-required="true"> * </span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="quantity" id="quantity">
                                                        <span class="help-block"> Provide Cost per Hours. </span>
                                                    </div>
                                                </div>
        
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Email
                                                        <span class="required" aria-required="true"> * </span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="quantity" id="quantity">
                                                        <span class="help-block"> Provide Your Email. </span>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        Phone
                                                        <span class="required" aria-required="true"> * </span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="quantity" id="quantity">
                                                        <span class="help-block"> Provide Your Phone. </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        MC Number
                                                        <span class="required" aria-required="true"> * </span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="quantity" id="quantity">
                                                        <span class="help-block"> Provide Your MC Number. </span>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        TAX Id
                                                        <span class="required" aria-required="true"> * </span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="quantity" id="quantity">
                                                        <span class="help-block"> Provide Your Tax Id. </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        Address
        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="password1" id="submit_form_password1">
                                                        <span class="help-block"> Provide your Address. </span>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        City
        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="City1" id="submit_form_password1">
                                                        <span class="help-block"> Provide your City </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">
                                                        State
        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="Text" class="form-control" name="State">
                                                        <span class="help-block"> Provide your State </span>
                                                    </div>
                                                    <label class="control-label col-md-2">
                                                        County
        
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="Text" class="form-control" name="County">
                                                        <span class="help-block"> Provide your County </span>
                                                    </div>
                                                </div>
                                                <br />
                                                <br />
        
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-offset-5 col-md-30">
                                                            <button type="submit" class="btn btn-circle green">Submit</button>
                                                            <button type="button" class="btn btn-circle grey-salsa btn-outline " data-dismiss="modal" aria-hidden="true">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- END FORM-->
                                    </div>
                                </div>
                            </div>
                        </div>
         
                </div>
                 <!-- END CONTENT -->
        </div>

</body>

<% include ../../../views/templates/footer %>
<% include ../../../views/templates/includes %>

</html>