<html>
<head>
    <% include ./templates/head %>
    <% include ./templates/header %>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <% include ./templates/Menu %>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content" id="divPartialViewContent">

            </div>
        </div>
    </div>
</body>
    <% include ./templates/footer %>
    <% include ./templates/includes %>
</html>
