

<div class="pagination-panel">


<span id="pageLabel"> Page </span>
<a href="#" class="btn btn-sm default prev" id="aPrev">
    <i class="fa fa-angle-left"></i>
</a>
<input type="text" id="iPageNo" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlenght="5"
    value="1" style="text-align:center; margin: 0 5px;">
<a href="#" class="btn btn-sm default next" id="aNext">
    <i class="fa fa-angle-right"></i>
</a>   <span id="pagecaption"> of </span>
<span class="pagination-panel-total" id="spntotalPageNumbers"></span>
<span id="pageSeparator"> | </span>

View
<select id="pageSizeData" class="form-control input-xs input-sm input-inline">
    <option value="2" selected="selected">2</option>
    <option value="10">5</option>
    <option value="10">10</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="100">100</option>
</select> records
<span id="spnTotalRecords" style="display:none;"></span>
</div>
<br/>
<br/>
