<html>
<head>
    <% include ../../../views/templates/head %>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
       <% include ../../../views/templates/header %>
      
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <% include ../../../views/templates/Menu %>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE HEADER-->
                        <!-- BEGIN THEME PANEL -->
        
                        <!-- END THEME PANEL -->
                        <h1 class="page-title"></h1>
                        <h2>Accessorial Charges Listing</h2>
                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <i class="icon-home"></i>
                                    <a href="index.html">Dashboard</a>
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>
                                    <span> Accessorial Charges Listing</span>
                                </li>
                            </ul>
        
                        </div>
        
        
                        <div class="portlet box green">
                            <div class="portlet-title">
                                
                                
                            </div>
                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form action="#" class="form-horizontal">
                                    <div class="form-body">
        
                                        
                                        
                                        <div>
                                            <div class="form-actions">
                                                <div class="col-md-6">
                                                    <div class="faq-section ">
                                                        <div class="panel-group accordion faq-content" id="accordion1">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
        
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1"> Detention With Power <i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_1" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
        
                                                                            <label class="col-md-2 control-label"> Free Time</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
        
                                                                        </div>
                                                                        <div class="form-group">
        
        
                                                                            <label class="col-md-2 control-label"> Per hour thereafter</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
        
                                                                        </div>
        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2"> Hazmat Charge <i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_2" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
                                                                            <label class="col-md-2 control-label"> Per Load</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3"> Load Straps <i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_3" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
                                                                            <label class="col-md-2 control-label"> Per Strap</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_4"> Lumper Charge <i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_4" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
                                                                            <label class="col-md-2 control-label"> Lumper Charge</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_6"> Overnight/Weekend Layover <i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_6" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
                                                                            <label class="col-md-4 control-label"> 5PM to 8AM Weekdays - Solo</label>
                                                                            <div class="col-md-8">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
        
                                                                        </div>
                                                                        <div class="form-group">
        
                                                                            <label class="col-md-4 control-label"> 5PM to 8AM Weekdays - Team</label>
                                                                            <div class="col-md-8">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-md-4 control-label"> 5PM Friday to 8 AM Monday - Solo</label>
                                                                            <div class="col-md-8">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
        
                                                                        </div>
                                                                        <div class="form-group">
        
                                                                            <label class="col-md-4 control-label"> 5PM Friday to 8 AM Monday - Team</label>
                                                                            <div class="col-md-8">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
        
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_7"> Additional Scanned Copy <i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_7" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
        
                                                                            <label class="col-md-2 control-label"> Per scanned copy</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
        
        
                                                                        </div>
        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
        
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_8"> Redelivery Charge <i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_8" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
        
                                                                            <label class="col-md-2 control-label"> Per Shipment</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
        
        
                                                                        </div>
                                                                        <div class="form-group">
        
        
                                                                            <label class="col-md-2 control-label"> Per Mile</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
        
                                                                        </div>
        
                                                                    </div>
                                                                </div>
                                                            </div>
        
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
        
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_9"> Mileage Band <i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_9" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
        
                                                                            <label class="col-md-2 control-label"> Mileage From</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control">
        
                                                                            </div>
        
        
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-md-2 control-label"> Mileage From</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control">
        
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
        
        
                                                                            <label class="col-md-2 control-label"> Cost Per Mile</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control">
        
                                                                            </div>
        
                                                                        </div>
        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
        
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_10">Staging/Storage System <i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_10" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
        
                                                                            <label class="col-md-2 control-label"> Trailer Storage (24 hours and less)</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control">
        
                                                                            </div>
        
        
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-md-2 control-label">Trailer Storage (More than 24 hours)	</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control">
        
                                                                            </div>
                                                                        </div>
        
        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="faq-section ">
                                                        <div class="panel-group accordion faq-content" id="accordion2">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
        
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_9"> Reweighing<i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_9" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
                                                                            <label class="col-md-2 control-label"> Per Accurrence</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
        
                                                                        </div>
                                                                        <div class="form-group">
        
                                                                            <label class="col-md-2 control-label"> Per Mile</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_10"> Stops-In-Transit <i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_10" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
                                                                            <label class="col-md-2 control-label"> 1st</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control">
        
                                                                            </div>
        
                                                                        </div>
                                                                        <div class="form-group">
        
                                                                            <label class="col-md-2 control-label"> 2nd</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control">
        
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-md-2 control-label"> 3rd</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control">
        
                                                                            </div>
        
                                                                        </div>
                                                                        <div class="form-group">
        
                                                                            <label class="col-md-2 control-label"> 4th and above</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control">
        
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_11"> Team Service<i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_11" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
                                                                            <label class="col-md-2 control-label"> Per Mile</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
        
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_12"> Toll Charge<i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_12" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
                                                                            <label class="col-md-2 control-label"> Toll Charge</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
        
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
        
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_13"> Weight Fine<i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_13" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
                                                                            <label class="col-md-2 control-label"> Weight Ticket</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-md-2 control-label"> Per Mile</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_14"> Yard Storage <i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_14" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
        
                                                                            <label class="col-md-2 control-label"> Per Day</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
        
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
        
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_15"> Truck ordered Not used <i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_15" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
        
                                                                            <label class="col-md-2 control-label"> Charge</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
        
                                                                        </div>
        
                                                                    </div>
                                                                </div>
                                                            </div>
        
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" style="background-color: #ffff !important">
                                                                    <h4 class="panel-title">
        
                                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_16"> Additional Charges <i class="fa fa-plus" style="float: right;"></i></a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapse_16" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
        
                                                                            <label class="col-md-2 control-label"> Demurrage per hour</label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
        
                                                                        </div>
                                                                        <div class="form-group">
        
                                                                            <label class="col-md-2 control-label"> Diversion Empty per Mile </label>
                                                                            <div class="col-md-10">
                                                                                <input type="text" class="form-control" @*placeholder="Enter text" *@>
        
                                                                            </div>
        
                                                                        </div>
        
                                                                    </div>
                                                                </div>
                                                            </div>
        
                                                        </div>
                                                    </div>
        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
        
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                </div>
                 <!-- END CONTENT -->
        </div>

</body>

<% include ../../../views/templates/footer %>
<% include ../../../views/templates/includes %>

</html>